// Custom common variables
@import '../../../app-variables';

#btnFab {
    width: 56;
    height: 56;
    background-color: $night-light;
    border-radius: 28;
  }
  
  .lbl-plus {
    height: 16;
    width: 16;
    background-color: white;
    clip-path: polygon(
      0 35%,
      35% 35%,
      35% 0,
      65% 0%,
      65% 35%,
      100% 35%,
      100% 65%,
      65% 65%,
      65% 100%,
      35% 100%,
      35% 65%,
      0 65%
    );
  }
