@import 'backlog-page-common';

// Place any CSS rules you want to apply only on iOS here

.drawer-content-in {
  animation-name: openDrawer;
  animation-direction: normal;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.drawer-content-out {
  animation-name: openDrawer;
  animation-direction: reverse;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@keyframes openDrawer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
